@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tag-it! Example</title> 
    <link href="../css/jquery.tagit.css" rel="stylesheet" type="text/css"> 
    <link href="../css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">  
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">     
    <!-- The real deal -->
    <script src="../js/tag-it.js" type="text/javascript" charset="utf-8"></script>
     
    <script>
        $(function(){
            var sampleTags = ['c++', 'java', 'php', 'coldfusion', 'javascript', 'asp', 'ruby', 'python', 'c', 'scala', 'groovy', 'haskell', 'perl', 'erlang', 'apl', 'cobol', 'go', 'lua'];             
            //-------------------------------
            // Tag events
            //-------------------------------
            var eventTags = $('#eventTags'); 
            eventTags.tagit({               
                availableTags: sampleTags,                        
                onTagClicked: function (evt, ui) {
                    var tag_content = eventTags.tagit('tagLabel', ui.tag);
                    alert(tag_content);
                } 
            });

        });                   
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $.ajax({
                url: "../Home/get_all_tags",
                contentType: "application/x-www-form-urlencoded",
                type: "GET",
                datatype: "json",
                error: function (xmlHttpRequest, errorText, thrownError) {
                    alert(xmlHttpRequest + "|" + errorText + "|" + thrownError);
                },
                success: function (data) {
                    if (data != null) {
                        alert(data);
                    }
                }
            });
        });
    </script>
</head>
<body>    
    <div id="wrapper">       
        <div id="content">             
             
            <h3>List Of Tags</h3>
            <form>
                <p>Click On A Below Mentioned Tag To See Related Articles</p>
                <ul id="eventTags">
                    <li>Click my label</li>
                    <li>Remove me</li>
                </ul>
            </form>            
            <hr>

       </div>
    </div>
</body>
</html>
