<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation"></nav>
        @RenderBody()
    </body>
</html>
 